body {
  background-color: #F4F1EA;
}

/*  Landing Page Styling */

.landing-page-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0;
}

.landing-page-logo {
  text-align: center;
  margin-top: 10%;
}

.landing-page-links a {
  font-size: 1.4em;
  color: #EEE;
}

.lp-login {
  z-index: 4;
  position: fixed;
  bottom: 15.25%;
  left: 46%;
}

.lp-sign-up {
  z-index: 4;
  position: fixed;
  bottom: 3%;
  left: 45%
}

.lp-sign-up a {
  color: #433E49;
}

.front-key {
  background: url("../img/key-background-gold.svg");
  background-overflow: hidden;
  height: 80px;
  background-repeat: repeat-x;
  width: 110%;
  position: fixed;
  left: -15px;
  bottom: 0;
  z-index: 1;
  /*background-attachment: fixed;*/
}

.back-key {
  background: url("../img/key-background-charcoal.svg");
  background-overflow: hidden;
  z-index: 0;
  height: 80px;
  background-repeat: repeat-x;
  width: 110%;
  position: fixed;
  left: -15px;
  bottom: 9.75%;
  /*background-attachment: fixed;*/
}

/* End of Landing Page Styling */
