body {
  background-color: #F4F1EA;
}

.apartment-photo {
  height: 200px;
  widows: 200px;
}

/*  Landing Page Styling */

.landing-page-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.landing-page-logo {
  text-align: center;
  margin-top: 5%;
}

.landing-page-links a {
  font-size: 1.4em;
  color: #EEE;
}

.lp-login {
  z-index: 4;
  position: fixed;
  width: 100%;
  bottom: 15.25%;
  text-align: center;
}

.lp-sign-up {
  z-index: 3;
  position: fixed;
  width: 100%;
  bottom: 3%;
  text-align: center;
}

.lp-sign-up a {
  color: #433E49;
}

.front-key {
  background: url("../img/key-background-gold.svg");
  background-overflow: hidden;
  height: 80px;
  background-repeat: repeat-x;
  width: 110%;
  position: fixed;
  left: -15px;
  bottom: 0;
  /*background-attachment: fixed;*/
}

.back-key {
  background: url("../img/key-background-charcoal.svg");
  background-overflow: hidden;
  height: 80px;
  background-repeat: repeat-x;
  width: 110%;
  position: fixed;
  left: -15px;
  bottom: 9.75%;
  /*background-attachment: fixed;*/
}

.back-key-liftblock {
  background-color: #333;
  height: 80px;
  position: fixed;
  left: -15px;
  bottom: 0;
  width: 110%;
}


/* End of Landing Page Styling */

/*.latLong {
  display: none;
}*/

/*Dashboard Buttons*/

.db-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.db-button {
  width: 100%;
}
